.emDia,
.inadimplentes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.12rem 1.5rem;
  border-radius: 8px;
  width: 16rem;
}

.emDia {
  color: #4ec06e;
  border: 2px solid #4ec06e;
  margin-bottom: 1rem;
}

.inadimplentes {
  color: #ff4d4d;
  border: 2px solid #ff4d4d;
}

.inadimplentes > p,
.emDia > p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  margin: 0;
}
